# Godot
.godot/
reports/
*.translation

# Exports and local builds
builds/
exports/
*.pck

# OS/editor noise
.DS_Store
._*
*.swp
*.tmp

# Local runtime saves/logs
user://
*.log

# Steam local dev files
steam_appid.txt
